@{
    ViewData["Title"] = "Identitas Mahasiswa";
}
<h1>@ViewData["Title"]</h1>

<p>Nama    : Eka Nova Pramudya</p>
<p>NIM     : 20190140104</p>
<p>Kelas   : Kelas C</p>
<p>Matakul : Pengembangan Aplikasi Web</p>
